<!DOCTYPE html>
<head>
	<title>droplr</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js">
	</script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
	</script>
	<script src="../js/sidebar.js">
	</script>
	<script src="../js/droplr.js">
	</script>
	<script src="../js/jquery-events.js">
	</script>
	<link href="../css/sidebar.css" rel="stylesheet">
	<link href="../css/style1.css" rel="stylesheet">
	<link href="../css/responsive.css" rel="stylesheet">
	<link href="../css/search.css" rel="stylesheet">
	<link href="../images/brand.jpg" rel="icon">
</head>
<body onload="init()">
	<div class="se-pre-con loader"></div><!-- Fixed navbar -->
	<div class="navbar navbar-static navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button class="navbar-toggle toggle-left hidden-md hidden-lg" data-target=".sidebar-left" data-toggle="sidebar" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="#">droplr</a>
				<form id="search-2" name="search-2" style="display:none">
					<input type="search">
				</form>
			</div>
			<div class="nav navbar-nav navbar-right" style="margin-left: 2em">
				<img class="profilePic" src="../images/profile.png"><span class="notificationCount" style="position:inline-block;">8</span>
				<form id="search-1" name="search-1">
					<input type="search">
				</form>
			</div>
		</div>
	</div><!-- Begin page content -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-xs-7 sidebar sidebar-left sidebar-animate sidebar-md-show">
				<div class="filediv form-control">
					<button class="btn btn-file continue form-control" type="button"><i aria-hidden="true" class="fa fa-upload"></i> <input type="file"></button>
				</div>
				<ul class="nav navbar-stacked">
					<li></li>
					<li style="list-style: none">
						<br>
						<div style="font-size:12px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MAIN</b>
						</div>
					</li>
					<li class="active">
						<a href="#"><i aria-hidden="true" class="fa fa-check-circle-o"></i>&nbsp;&nbsp;Overview</a>
					</li>
					<li class="pushup">
						<a href="#about"><i aria-hidden="true" class="fa fa-circle-o"></i> &nbsp;&nbsp;Activity</a>
					</li>
					<li class="pushup">
						<a href="#about"><i aria-hidden="true" class="fa fa-heart-o"></i> &nbsp;Dearest</a>
					</li>
					<li class="pushup">
						<a href="#about"><i aria-hidden="true" class="fa fa-folder-open-o"></i> &nbsp;Folders</a>
					</li>
					<li style="list-style: none">
						<br>
						<div class="pushup" style="font-size:12px;margin-bottom:5px;">
							&nbsp;&nbsp;&nbsp; <b>FILTER</b>
						</div>
					</li>
					<li class="pushup">
						<a href="#contact"><i aria-hidden="true" class="fa fa-picture-o"></i>&nbsp; Images</a>
					</li>
					<li class="pushup">
						<a href="#contact"><i aria-hidden="true" class="fa fa-volume-up"></i> &nbsp; Audio</a><span class="notificationVideoCount" style="position:inline-block;">8</span>
					</li>
					<li class="pushup">
						<a href="#contact"><i aria-hidden="true" class="fa fa-caret-square-o-right"></i> &nbsp; Video</a>
					</li>
					<li class="pushup">
						<a href="#contact"><span class="glyphicon glyphicon-list-alt"></span> &nbsp;Notes</a>
					</li>
					<li class="pushup">
						<a href="#contact"><span class="glyphicon glyphicon glyphicon-link"></span> &nbsp;Links</a>
					</li>
					<li class="pushup">
						<a href="#contact"><i aria-hidden="true" class="fa fa-files-o"></i> &nbsp;Files</a>
					</li>
				</ul>
			</div>
			<div class="main col-sm-12 col-xs-12 col-md-10 col-md-offset-2">
				<div class="page-header">
					<h2>Overview</h2>
					<div class="itemOptions">
						<div class="col-sm-7 col-md-8 col-xs-12">
							<div class="col-md-1 col-sm-2 col-xs-3">
								<span class="btn options selected">+</span>
							</div>
							<div class="col-md-1 col-sm-2 col-xs-3">
								<span class="btn options"><i aria-hidden="true" class="fa fa-folder-open-o"></i></span>
							</div>
							<div class="col-md-1 col-sm-2 col-xs-3">
								<span class="btn options"><i aria-hidden="true" class="fa fa-lock"></i></span>
							</div>
							<div class="col-md-1 col-sm-2 col-xs-3">
								<span class="btn options"><i aria-hidden="true" class="fa fa-trash-o"></i></span>
							</div>
							<div class="col-md-4 desc hidden-xs">
								<div>
									<span class="selected-description"><b>0</b></span> <span><b>Selected items</b></span>
								</div>
							</div>
						</div>
						<div class="col-sm-5 col-md-4 col-xs-12 sorting-options">
							<div class="col-sm-2 col-md-3 visible-sm visible-md visible-lg"></div>
							<div class="col-sm-2 col-md-2 col-xs-3">
								<span class="btn">Name</span>
							</div>
							<div class="col-sm-2 col-md-2 col-xs-3">
								<span class="btn">Size</span>
							</div>
							<div class="col-sm-2 col-md-2 col-xs-3">
								<span class="btn" style="margin-left:-8px;">Views</span>
							</div>
							<div class="col-sm-3 col-md-3 col-xs-3">
								<span class="btn sorting-option-selected">Uploaded</span>
							</div>
						</div>
					</div>
				</div>
				<div class="display-area"></div>
			</div>
		</div>
	</div>
</body>
</html>
